<div class="fields">
  <fieldset>
    <legend>Address</legend>
    <%= f.input :street %>
    <%= f.input :postal_code %>
    <%= f.input :city %>
    <%= f.input :country %>
  </fieldset>
<%= link_to_remove_fields "", f %>
</div>
