<%= simple_form_for(@contact, :html => {:class => 'form-vertical'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <fieldset>
      <legend>Contact</legend>
      <%= f.input :name, :autofocus => true %>
      <%= f.input :email %>
      <%= f.input :vat_number %>
      <%= f.input :gender, :collection => [:male, :female] %>
      <%= f.input :birth_date,  :as => :date, :start_year => Date.today.year - 90,
        :end_year => Date.today.year - 12%>
    </fieldset>
    <%= f.simple_fields_for :address do |a| %>
      <fieldset>
        <legend>Address</legend>
        <%= a.input :street %>
        <%= a.input :postal_code %>
        <%= a.input :city %>
        <%= a.input :country %>
      </fieldset>
    <% end%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
